.home {
    background-color: white;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: black;
}
    
    
.headerContainer1 {
    color: black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    font-size: 50px;
}

.headerContainer1 h1 {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 60px;
    font-weight: 40;
    color: black;

}

.headerContainer_Guides {
    color: black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    font-size: 50px;
}

.headerContainer_Guides h1 {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 60px;
    font-weight: 40;
    color: black;

}

.container {
    width: 60%;
    height: 40%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    border-radius: 10px;
    background: transparent;
    display: flex;
    border: 1px solid;
}



.container1 {
    width: 60%;
    height: 40%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    border-radius: 10px;
    background: transparent;
    display: flex;
    border: 1px solid;
}

.container_last {
    width: 20%;
    height: 12%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    border-radius: 10px;
    background: transparent;
    display: flex;
}



.container_guides {
    width: auto;
    height: auto;
    padding: 3px;
    margin: 10px; 
    flex-flow: column;
    background-color: transparent;
    color: black;
}

.button2 {
    background-color: #c5c5c5;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid;
  }


.text {
    width: 60%;
    height: 40%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    
    border-radius: 10px;
    background: transparent;
    display: flex;
}







@media only screen and (max-width: 650px) {
    .home {
    justify-content: center;
    align-items: center;
    }
    .headerContainer h1,
    .headerContainer p {
    }

    .headerContainer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    color: black;
    }

    .headerContainer h1 {
    font-size: 40px;
    height: 30px;
    color: black;
    }

    .headerContainer p {
    font-size: 30px;
    color: black;
    }

}
  