/* Popup style */
.popup-box {
<<<<<<< HEAD
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 50%;
  margin: 0 auto;
  height: 50%;
  margin-top: 10%;
  background: #fff;
  padding: 20px;
  border: 1px solid #999;
}
.box > h1 {
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
  letter-spacing: 2px;
}
=======
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 25%;
    margin: 0 auto;
    height: auto;
    /* max-height: 70vh; */
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  }

  
   
  .close-icon {
    content: 'x'; 
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px); 
    background: #ffffff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }
 
>>>>>>> ad9711a5245c1c0d48bf3ccddc6592cb948589c5
