.home1 {
    background-color: whitesmoke;
    width: 100%;
    height: 450vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: rgb(0, 0, 0);
    }
    
    
.headerContainer_Sp_Guide {
    color: black;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    font-size: 50px;
    
}



.headerContainer_Sp_Guide h1 {
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 60px;
    font-weight: 40;
    color: black;

}


.container {
    width: 60%;
    height: 40%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    border-radius: 10px;
    background: transparent;
    display: flex;
}


.container1 {
    width: 40%;
    height: 92%;
    padding: 5px;
    margin: 10px; 
    flex-flow: row;
    background-color: transparent;

    color: black;
    border: 1px solid black;
    border-radius: 10px;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}
.container2 {
    width: 60%;
    height: 92%;
    padding: 3%;
    padding-left: 6%;
    margin: 10px;
    flex-flow: column;

    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
    color: black;
    text-align: left;
    

}

.big_container_no_border {
    width: 60%;
    height: 40%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    border-radius: 10px;
    background: transparent;
    display: flex;
}

.tools{
    width: 50%;
    height: 92%;
    padding: 5px;
    margin: 10px; 
    flex-flow: row;
    background-color: transparent;
    color: black;

    border-radius: 10px;
    border: 1px solid black;
    padding: 3%;

    

}
.parts {
    width: 50%;
    height: 92%;
    padding: 5px;
    margin: 10px; 
    flex-flow: row;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    padding: 3%;

}

.step_image {
    width: 50%;
    height: 300px;
    padding: 5px;
    margin: 10px; 
    flex-flow: row;
    background-color: transparent;
    color: black;

    border-radius: 10px;
    border: 1px solid black;
    padding: 3%;

    

}
.step_text {
    width: 50%;
    height: 300px;
    padding: 5px;
    margin: 10px; 
    flex-flow: row;
    background-color: transparent;
    color: black;

    border-radius: 10px;
    border: 1px solid black;
    padding: 3%;

}
.author {
    width: 30%;
    height: 10%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    border-radius: 10px;
    background: transparent;
    display: flex;
}


.author_image {
    width: 40%;
    height: 92%;
    padding: 5px;
    margin: 10px; 
    flex-flow: row;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 10px;


    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

}
.author_text {
    width: 60%;
    height: 92%;
    padding: 3%;
    padding-left: 6%;
    margin: 10px;
    flex-flow: column;

    border: 1px solid black;
    border-radius: 10px;
    background: transparent;
    color: black;
    text-align: left;
    

}


.button_container1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    opacity: 0.9; 
    padding: 15px;
    height: 300px;
    width: 300px;
    font-size: 30px;
    line-height: 150px;
    margin-right: 7%;
    margin-left: 7%;
    
  }

.button {
    height: 100%;
    background-color: #c5c5c5;
    border: none;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
}



.text {
    width: 60%;
    height: 40%;
    padding: 5px;
    margin: 20px;
    position:relative; 
    color: black;
    
    border-radius: 10px;
    background: transparent;
    display: flex;

}

.popup-box1 {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
   
  .box1 {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: 40%;
    margin-top: 10%;
    background: #fff;
    padding: 20px;
    border: 1px solid #999;
  }
  .box1 > h1 {
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
    letter-spacing: 2px;
  }
  
  




@media only screen and (max-width: 650px) {
    .home {
    justify-content: center;
    align-items: center;
    
    }
    .headerContainer_Sp_Guide h1,
    .headerContainer_Sp_Guide p {
    }

    .headerContainer_Sp_Guide {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    color: black;
    }

    .headerContainer_Sp_Guide h1 {
    font-size: 40px;
    height: 30px;
    color: black;
    }

    .headerContainer_Sp_Guide p {
    font-size: 30px;
    color: black;
    }

}
  