.form {
  display: flex;
  flex-direction: column;
  width: 1600px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: #000000;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}


.form > h1 {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
}

.home_store {
  background-color: whitesmoke;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  }
  
  
  .headerContainer2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    margin-top: 18%;

  }

  
  
  .headerContainer2 > h1 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.25em;
    font-weight: lighter;
    margin-top: -4.25em;
    color: #222;
    letter-spacing: 2px;
}
  
.headerContainer2 p {
  padding: 0;
  font-size: 40px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}
  
  .button_container3{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    opacity: 0.9; 
    padding: 15px;
    height: 300px;
    width: 300px;
    font-size: 30px;
    line-height: 150px;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: -7%;
  }

  .button_tools {
    line-height: 0;
    width: 250px;
    height: 250px;
    outline-style:initial;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: #c5c5c5;
    background-image: url('tools.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
    text-decoration: none;
   
  }

  .button_tools > h1{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    color: transparent;
  }




  .button_parts {
    line-height: 0;
    width: 250px;
    height: 250px;
    outline-style:initial;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: #c5c5c5;
    background-image: url('parts.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    color: transparent;
    text-decoration: none;
  }
  
  .button_parts > h1{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: transparent;
    background-size: contain;
    color: transparent;
  }

  .button_tools > h1:hover {
    transform: scale(1.2);
    line-height: 0;
    width: 150px;
    color: #ffffff;
    height: 50px;
    outline-style:initial;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5c5c5;
    padding: 10px 10px;
    border-radius: 50px;
    font-weight:300;
    background-color: #000000;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  }

  .button_parts > h1:hover {
    background-color: #c5c5c5;
    transform: scale(1.2);
    line-height: 0;
    width: 150px;
    color: #ffffff;
    height: 50px;
    outline-style:initial;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c5c5c5;
    padding: 10px 10px;
    border-radius: 50px;
    font-weight:300;
    background-color: #000000;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
  }

  .button_parts:hover {
    background-color: #c5c5c5;
    transform: scale(1.2);
    color:transparent;
  }

  .button_tools:hover {
    background-color: #c5c5c5;
    transform: scale(1.2);
    color:transparent;
  }

  .space{
    margin-top: 5%;
  }
  
  .store_form {
    width: 840px;
    margin-top: 0%;
    margin-bottom: 5%;
    border-radius: 6px;
    background-color: #ffffff;
  }
  
  
  .store_form > h1 {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", "Ubuntu", "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 2.25em;
    font-weight: lighter;
    margin-top: 0.25em;
    color: #222;
    letter-spacing: 2px;
  }
  

  @media only screen and (max-width: 650px) {
    .home {
      justify-content: center;
      align-items: center;
    }
    .headerContainer h1,
    .headerContainer p {
    }
  
    .headerContainer2 {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 10px;
    color: rgb(255, 255, 255);

    }
  
    .headerContainer2 h1 {
      font-size: 40px;
      height: 30px;
      color: rgb(255, 255, 255);
    }
  
    .headerContainer2 p {
      font-size: 30px;
      color: white;
    }

    .button-67 {
      padding: 24px;
    }
    

    
  }

  




  